<div class="relative w-screen h-screen flex items-center justify-center text-sm">
  <div class="border bg-[#fefefe] border-gray-300 w-11/12 lg:w-1/2 h-1/2 drop-shadow-xl rounded-lg p-4">
    <div class="w-full">
      <div class="relative my-5">
        <h1 class="font-bold text-center text-2xl my-2 underline">Tamizaje en salud</h1>
        <h1 class="font-bold text-center text-base mb-2">Pacientes</h1>
      </div>
      <div class="w-full flex flex-wrap justify-center gap-4 h-full">
        <div class="flex flex-col items-center flex-wrap justify-center gap-3 font-medium">
          <span>1. Buscar paciente:</span>
          <%= form_tag(buscar_path, method: :get, class:'flex justify-start flex-col gap-2') do %>
            <%= text_field_tag :parametro, params[:parametro], placeholder: 'Buscar por identificación', class:"w-full text-sm rounded-lg py-2" %>
            <%= submit_tag "Buscar", class: "hover:brightness-105 rounded-lg py-2 px-5 bg-blue-600 text-white font-medium cursor-pointer" %>
          <% end %>
        </div>
        <div class="flex flex-col flex-wrap justify-start items-center gap-3 font-medium">
          <span>2. Crear nuevo paciente:</span>
          <%= link_to "Nuevo paciente", new_patient_path, class: "flex text-center items-center rounded-lg py-2 px-12 hover:brightness-105 bg-blue-600 w-auto text-white block font-medium" %>
        </div>
      </div>
    </div>
  </div>
</div>
