<div class="mx-auto md:w-2/3 w-full text-center flex flex-col justify-center p-5">
  <h1 class="font-bold text-4xl">Nuevo paciente</h1>
  <div class="text-left">
    <%= render "form", patient: @patient %>
  </div>
</div>
