<div class="w-screen h-screen">
  <div class="w-full h-full flex flex-col justify-center items-center">
    <div class="w-1/2 h-1/2 mx-auto flex-col border boder-gray-200 shadow-xl">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <div class="w-full p-4">
        <h1 class="text-2xl text-center underline">Resumen paciente</h1>
        <div class="flex flex-col justify-start gap-4 my-5">
          <%= render @patient %>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <%= link_to "Volver al inicio", root_path, class: "ml-2 py-2 border border-gray-300 bg-[#e3e3e3] hover:brightness-105 rounded-lg px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>
  </div>
</div>
